body{
	margin:0;
	padding: 0;
	background-color: #dddee0;
}

.nav-wrapper{
	background-color: #393d40;
}

.btn-large{
	background-color: #f6a800;
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
}

.btn-prcpal{
	margin-top: 100px;
}

/*Inicio index 3 perfil usuario*/
.img-usuario{
	width: 50%;
	margin-top: 50px;
}

.usuario{
	background-color: #f6a800;
	width: 100%;
	padding-bottom: 50px;
}

.input-usuario{
	margin-top: 30px;
	height: 30px;
	width: 80%;
}

#input-tarjeta{
	margin-top: 30px;
}

/*inicio index 4 preguntas frecuentes*/

h4{
	color: white;
	margin-top: 60px;
}

.collapsible-body{
	background-color: white;
}

.collapsible{
	margin-top: 50px;
}


/*index5 ver saldo*/

.ver-saldo{
	margin-top: 60px;
}

.select{
	margin-top: 40px;
}

.btn-saldo{
	margin-top: 50px;
}

/*index 6 calcular tarifa*/